<div class="card">
    <div class="card-body">
        <h4 class="card-title">Item Create</h4> <hr/>
        <form [formGroup]="itemFormGroup" (ngSubmit)="onSubmit()">
            <div class="container">
                <div>
                    <mat-form-field appearance="outline" class="w-100 fs-16">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" class="form-control" formControlName="name" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="container">
                <div>
                    <mat-form-field appearance="outline" class="w-100 fs-16">
                        <mat-label>Price</mat-label>
                        <input matInput placeholder="Price" formControlName="price" type="text">
                    </mat-form-field>
                </div>
            </div>
            <mat-grid-list cols="4" rowHeight="40px">
                <mat-grid-tile colspan="3">
                    <button class="block-btn-global submit-btn-global" color="primary" mat-raised-button>Create</button>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <button (click)="cancel()" class="block-btn-global cancel-btn-global" color="danger"
                            mat-raised-button>Cancel
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>
</div>
