<mat-card class="w-100">
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="40px">
            <mat-grid-tile colspan="3">
                <span class="title">Client List</span>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <button (click)="createClient()" class="create-attendance"
                        color="info" mat-raised-button>Create Client
                </button>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input (keyup)="applyFilter($event.target)" matInput>
        </mat-form-field>
        <div class="table-responsive">
            <table [dataSource]="dataSource" class="w-100" mat-table matSort>
                <ng-container matColumnDef="id">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Client ID</th>
                    <td *matCellDef="let element" mat-cell>
                        <p class="mb-0 fw-medium">{{element['client_no']}}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Client Name</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['name']}} </td>
                </ng-container>
                <ng-container matColumnDef="doctor_name">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Doctor Name</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['doctor_name']}} </td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Phone</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['phone']}} </td>
                </ng-container>
                <ng-container matColumnDef="address">

                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Address</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['address']}} </td>

                </ng-container>
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Actions</th>
                    <td *matCellDef="let element; let i = index" class="fw-medium" mat-cell>
                        <button (click)="editClient(element['id'])" color="primary" mat-icon-button>
                            <mat-icon aria-label="icon-button">edit_square</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
            <mat-paginator
                    [length]="clientList.length"
                    [pageSizeOptions]="[10, 30, 60, 100]"
                    [pageSize]="10"
                    aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
