.mat-row:nth-child(even) {
  background-color: #ddd;
  //text-align: center;
}

.mat-row:nth-child(odd) {
  background-color: white;
  //text-align: center;
}

th {
  font-size: 8pt;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  //text-align: center;
}

