<div id="app" class="container">
    <ul class="page">
        <li class="page__btn"><span class="material-icons">chevron_left</span></li>
        <ng-container *ngIf="diffBetweenFirstToCurrent<=4;else lowerBoundary"
                      class="page__btn">
            <li *ngFor="let item of [].constructor(current-first); let i = index" class="page__numbers">{{i + 1}}</li>
        </ng-container>
        <ng-template #lowerBoundary class="page__btn">
            <li class="page__numbers"> 1</li>
            <li class="page__dots">...</li>
            <li *ngFor="let item of [].constructor(2); let i = index" class="page__numbers">{{i - 2 + current}}</li>
        </ng-template>
        <ng-container *ngIf="diffBetweenLastToCurrent<=4;else upperBoundary" class="page__btn">
            <li *ngFor="let item of [].constructor(last-current+1); let i = index"
                class="page__numbers">{{i + current}}</li>
        </ng-container>
        <ng-template #upperBoundary class="page__btn">
            <li *ngFor="let item of [].constructor(2); let i = index" class="page__numbers">{{i + current}}</li>
            <li class="page__dots">...</li>
            <li class="page__numbers"> {{last}}</li>
        </ng-template>
        <li class="page__btn"><span class="material-icons">chevron_right</span></li>
    </ul>
</div>
