<section class="header"
         style="background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url('../../../assets/images/banner-3.jpg')">
    <nav>
        <a href="index.html"> <img src="../../../assets/images/logo.png"/></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Course</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="http://localhost:4200/login">Login</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <div class="text-box">
        <h1>Learn to code</h1>
        <p>
            See how experienced developers solve problems in real-time. Watching
            scripted tutorials is great, <br/>but understanding how developers think is
            invaluable.
        </p>
        <a href="" class="hero-btn">Visit Us to Know More!</a>
    </div>
</section>

<!-- Course -->
<section class="course">
    <h1>Courses We Offer</h1>
    <p> See how experienced developers solve problems in real-time. Watching
        scripted tutorials is great,but understanding how developers think is
        invaluable.
    </p>

    <div class="row">
        <div class="course-col">
            <h3>Web Development</h3>
            <p>See how experienced developers solve problems in real-time. Watching
                scripted tutorials is great,but understanding how developers think is
                invaluable.
            </p>
        </div>
        <div class="course-col">
            <h3>App Development</h3>
            <p>See how experienced developers solve problems in real-time. Watching
                scripted tutorials is great,but understanding how developers think is
                invaluable.
            </p>
        </div>
        <div class="course-col">
            <h3>Machine Learning</h3>
            <p>See how experienced developers solve problems in real-time. Watching
                scripted tutorials is great,but understanding how developers think is
                invaluable.
            </p>
        </div>
    </div>
</section>

<!-- Course -->
<section class="course">
    <h1>About Us</h1>
    <div class="row">
        <div class="course-col">
            <p>Our dental lab is highly focused in
                providing services unlike other dental
                lab. We meet your expectation for high
                quality products so that you don't need
                to worry about adjusting the work and
                spend your valuable time on your
                patient.
            </p>
        </div>
        <div class="course-col">
            <p>Time is essence, we take your cases with
                urgency so that your can provide your
                patient with high quality product in
                minimum time.
            </p>
        </div>
        <div class="course-col">
            <p>Our goal is to provide exceptional dental
                laboratory products with less fuss.
            </p>
        </div>
    </div>
</section>

<!-- Campus -->
<section class="campus">
    <h1>Our Global Campus</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="row">
        <div class="campus-col">
            <img src="../../../assets/images/london.png">
            <div class="layer">
                <h3>LONDON</h3>
            </div>
        </div>

        <div class="campus-col">
            <img src="../../../assets/images/madam.jpeg">
            <div class="layer">
                <h3>New York</h3>
            </div>
        </div>

        <div class="campus-col">
            <img src="../../../assets/images/washington.png">
            <div class="layer">
                <h3>WASHINGTON</h3>
            </div>
        </div>
    </div>
</section>

<!-- ---------- Facilities-------- -->
<section class="facilities">
    <h1>Our Facilities</h1>
    <div class="row">
        <div class="facilities-col">
            <img src="../../../assets/images/Zirconia.png">
            <h3>Zirconia Crown</h3>
            <p>Over 40 years, zirconia has already been broadly used for equally commercial and industrial purposes. It
                is vastly biocompatible and remarkably robust in longevity. Applications for dentistry are found in
                zirconia crowns, bridges and dental implants.
                Here are some features of our Zirconia Crown
                 High Strength
                 Excellent Aesthetics view.
                 Smart transparent color blend with other teeth.
                 Retain more of the existing tooth.</p>
        </div>


        <div class="facilities-col">
            <img src="../../../assets/images/Dentures.png">
            <h3>Dentures</h3>
            <p>Dentures are prosthetic devices constructed to replace missing teeth, and are supported by the
                surrounding soft and hard tissues of the oral cavity.
                Conventional dentures are removable. However, there are many denture designs,
                some which rely on bonding or clasping onto teeth or dental implants.</p>
        </div>


        <div class="facilities-col">
            <img src="../../../assets/images/PFM.png">
            <h3>PFM Crown</h3>
            <p>PFM is the traditional choice for simple to advanced combination cases.
                Using different metals such as base metal alloys(cobalt, nickel, chromium), titanium alloys, and gold
                alloys PFM restorations can be made.
                Here are some features of our PFM Crown and Bridge
                 Reliable metal-ceramic bond
                 Low hardness
                 Metal Framework designed by CAD/CAM.
                 High degree of intraoral comfort for patients due to high thermal stability
                 Biocompatible and corrosion-resistant</p>
        </div>
    </div>

    <div class="row">
        <div class="facilities-col">
            <img src="../../../assets/images/Implant.png">
            <h3>Implant Crown</h3>
            <p>A crown is a cap that looks like a tooth and is placed over an existing tooth. It can be used to repair a
                broken tooth.
                A dental implant is a surgical implant that replaces a missing tooth and has a crown placed on top to
                look
                and function like a normal tooth.</p>
        </div>


        <div class="facilities-col">
            <img src="../../../assets/images/E-max.png">
            <h3>E-max Crown</h3>
            <p>Emax is an all-ceramic system that is based on Lithium disilicate glass, and consists of quartz, lithium
                dioxide,
                phosphoroxide, alumina, potassium oxide and trace elements. Emax based all-ceramic prostheses are
                rapidly
                gaining widespread popularity in cosmetic dentistry due to their excellent esthetics, durability, and
                strength.</p>
        </div>


        <div class="facilities-col">
            <img src="../../../assets/images/Flexible.png">
            <h3>Flexible Dentures</h3>
            <p>Flexible dentures are the recent improvement of traditional dentures to replace missing teeth with soft
                and transparent base. Flexible dentures are easy and comfortable to use and non-brittle, unlikely to
                shatter if dropped.
                They don’t have any metallic clips or attachments and adhesives are unneeded.
                Flexible dentures are non-allergic and most patients find chewing and speaking easier with it.</p>
        </div>
    </div>

</section>

<!-- ----------- Testimonials -------- -->
<section class="testimonials">
    <h1>What Our Student Says</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="row">
        <div class="testimonials-col">
            <img src="../../../assets/images/user1.jpg">
            <div>
                <p>
                    Suspendisse nunc libero, molestie sed fringilla eget,
                    auctor eu libero. Quisque vel tincidunt dui.
                    Pellentesque venenatis mollis odio, a ullamcorper
                    diam condimentum quis
                </p>
                <h3>Christian Bale</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>

        <div class="testimonials-col">
            <img src="../../../assets/images/user2.jpg">
            <div>
                <p>
                    Suspendisse nunc libero, molestie sed fringilla eget,
                    auctor eu libero. Quisque vel tincidunt dui.
                    Pellentesque venenatis mollis odio, a ullamcorper
                    diam condimentum quis
                </p>
                <h3>Davide Bayer</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>


    </div>
</section>

<!-- ----------- Find Us On Google Map -------- -->
<section class="testimonials">
    <h1>Find Us On Google Map</h1>
    <div class="row">
        <div class="mapouter">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="100%" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=Vivadent%20Dental%20Laboratory%20Selangor,%20Malaysia&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://123movies-to.org"></a><br>
                    <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                </div>
            </div>
        </div>


    </div>
</section>

<!-- ----------- Call To Action -------- -->
<section class="cta"
         style=" background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../../assets/images/banner2.jpg');">
    <h1>Enrol For Our various Online Courses <br>Anywhere From The World</h1>
    <a href="" class="hero-btn">CONTACT US</a>
</section>

<!-- ----------- Why Us -------- -->
<section class="footer">
    <h1>Why Us</h1>
    <ul class="list">
        <li>Our dental lab provide fast and hassle free service.</li>
        <li>We guarantee that you don’t spend much chair time adjusting the dentures.</li>
        <li>We make sure that your patient will be happy with the dentures from our lab.</li>
    </ul>
</section>


<!-- ----------- Footer -------- -->
<section class="footer">
    <h4>About Us</h4>
    <p>
        Suspendisse nunc libero, molestie sed fringilla eget,
        auctor eu libero. Quisque vel tincidunt dui.<br>
        Pellentesque venenatis mollis odio, a ullamcorper
        diam condimentum quis
    </p>
    <div class="icons">
        <i-feather name="facebook"></i-feather>
        <i-feather name="twitter"></i-feather>
        <i-feather name="instagram"></i-feather>
        <i-feather name="linkedin"></i-feather>
    </div>
    <p>Made with
        <i-feather name="heart" class="heart"></i-feather>
        Easy Tutorials
    </p>
</section>

<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>

