<mat-card>
    <mat-card-content>
        <h4 class="mb-32">Basic Chips</h4>

        <mat-chip-list>
            <mat-chip>One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip color="primary" selected="true">Primary fish</mat-chip>
            <mat-chip color="accent" selected="true">Accent fish</mat-chip>
        </mat-chip-list>

    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <h4 class="mb-32">Chip input</h4>

        <mat-form-field class="demo-chip-list">
            <mat-chip-list #chipList>
                <mat-chip (removed)="remove(fruit)" *ngFor="let fruit of fruits" [removable]="removable"
                          [selectable]="selectable">
                    {{fruit.name}}
                    <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input (matChipInputTokenEnd)="add($event)" [matChipInputAddOnBlur]="addOnBlur"
                       [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       placeholder="New fruit..."/>
            </mat-chip-list>
        </mat-form-field>
    </mat-card-content>
</mat-card>


<mat-card>
    <mat-card-content>
        <h4 class="mb-32">Stacked Chips</h4>

        <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip *ngFor="let aColor of availableColors" color="{{aColor.color}}" selected="true">
                {{aColor.name}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
</mat-card>
