<mat-card class="w-100">
    <mat-card-content>
        <h3>Create Attendance</h3>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Attendance Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
            <mat-hint>MM/DD/YYYY</mat-hint>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>

        <div *ngIf="products; else elseBlock">
            <table class="datatable">
                <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Present</th>
                    <th>Half Present</th>
                    <th>Leave</th>
                    <th>Absent</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of products; let i=index; let odd = odd" [ngClass]="odd ? 'odd_col' : 'even_col'">
                    <td>{{ p.employeeId }}</td>
                    <td>{{ p.employeeName }}</td>
                    <td><mat-checkbox color="primary" value="{{p.present}}" [(ngModel)]="products[i].present" class="d-block mb-16">P</mat-checkbox></td>
                    <td><mat-checkbox color="primary" value="{{p.halfPresent}}" [(ngModel)]="products[i].halfPresent" class="d-block mb-16">HP</mat-checkbox></td>
                    <td><mat-checkbox color="primary" value="{{p.leave}}" [(ngModel)]="products[i].leave" class="d-block mb-16">L</mat-checkbox></td>
                    <td><mat-checkbox color="primary" value="{{p.absent}}" [(ngModel)]="products[i].absent" class="d-block mb-16">A</mat-checkbox></td>
                </tr>
                </tbody>
            </table>

            <mat-grid-list cols="4" rowHeight="40px">
                <mat-grid-tile colspan="3">
                    <button mat-raised-button class="block submit" color="primary" (click)="submit()">Create</button>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <button mat-raised-button class="block cancel" color="danger" (click)="cancel()">Cancel</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <ng-template #elseBlock>No record found</ng-template>
    </mat-card-content>
</mat-card>

