<mat-card class="w-100">
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="40px">
            <mat-grid-tile colspan="3">
                <span class="title">Item List</span>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <button (click)="createItem()" class="create-attendance"
                        color="info" mat-raised-button>Create Item
                </button>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input (keyup)="applyFilter($event.target)" matInput>
        </mat-form-field>
        <div class="table-responsive">
            <table [dataSource]="dataSource" class="text-nowrap w-100" mat-table matSort>
                <ng-container matColumnDef="id">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Item ID</th>
                    <td *matCellDef="let element" mat-cell>
                        <p class="mb-0 fw-medium">{{element['id']}}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Item Name</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['name']}} </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Price</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['price']}} </td>
                </ng-container>


                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
            <mat-paginator
                    [length]="itemList.length"
                    [pageSizeOptions]="[3, 10, 25, 100]"
                    [pageSize]="3"
                    aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
