.sidenav {
  background: #263238;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  min-width: 3rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
      background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #fff;
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow-y: auto;
  max-height: 100vh;
  background-color: #263238;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
        color: #f3f3f3;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;
      }
    }
  }
}

.own-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
  color: #f3f3f3;
}

.own-text {
  font-size: 16px;
}

.exc {
  display: flex;
  align-items: center;
  height: 3rem;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
  width: 100%;
}

.exc:hover {
  background-color: #fff;
  color: #000;

  .own-icon {
    color: #000;
  }
}

.active {
  background-color: #fff;

  .own-icon,
  .own-text,
  .sidenav-link-text {
    color: #000;
  }
}

/* Change the width and color of the scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Customize the track (background) of the scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

/* Customize the thumb (handle) of the scrollbar */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 01);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
}
